body{
    font-family: Arial,  sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container{
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}
.projile img{
    width: 25px;
    margin: 5px;
}
button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.blue-button{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
footer{
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}
img{
    border-radius: 50%;
}